.container{
	font-family: '微软雅黑';
}

.statistics .head{
	color: #fff;
	font-size: 18px;
}

.statistics .head p{
	line-height: 50px;
	padding-right: 20px;
}

.statistics .head p span{
	float: right;
	font-size: 14px;
}

.statistics .head p span input:first-child{
	margin-right:10px;
}

.statistics .head p span input.to{
	margin-left:10px;
}

.statistics .head p span input[type='submit']{
	line-height: 22px;
	width: 50px;
	margin-left: 20px;
}

.statistics .head p span input,.statistics .change-box .choose-box input{
	color: #fff;
	margin-left:30px; 
	width:100px;
	font-size: 14px;
	background-color: #328ed1!important;
	padding: 0 5px;
	border:1px solid #7cbbe7;
	font-family: '微软雅黑';
	cursor: pointer;
}

.statistics .zhexian{
	background-color: #fff;
	width:100%;
	border-radius: 10px;
	overflow: hidden;
	padding: 20px;
	overflow: hidden;
}

.statistics .feature-box{
	padding-top:20px;
}

.statistics .feature{
	padding-top: 20px;
}

.statistics .feature a.factor-btn{
	float: left;
	padding: 6px 0;
	width:30%;
	border:1px solid #ddd;
	color: #000;
	margin-left: 3%;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 5px;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.statistics .feature .feature-box a.first{
	margin-left: 0;
}

.statistics .feature .feature-box a.last{
	margin-bottom: 0;
}

.statistics .feature a img{
	width: 20px;
	margin-right: 3px;
}

.statistics .feature a:first-child{
	margin-left: 0;
}

.statistics .feature .feature-box a span{
	display: inline-block;
	position: relative;
	top:-3px;
}

.zhexian > span{
	color: #ec6e6e;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
}

#zhexian{
	height:380px;
	position: relative;
	left:-60px;
	width: 1300px;
}

.zhexian-box{
	position: absolute;
	top:0;
	left: 0;
	background-color:#fff;
}

#expand-zhexian{
	width:1300px;
	height:600px;
}

.close-expand{
	font-size: 28px;
	color: #000;
	display: block;
	margin-top: 10px;
	float: right;
	margin-right: 20px;
	position: relative;
	z-index: 100; 
}

.feature .feature-box{
	float: left;
	width:30%;
	display: block;
	background-color: #fff;
	border-radius: 10px;
	margin-left: 2%;
	padding:20px;
}

.feature .feature-box:first-child{
	margin-left: 0;
}

.feature-box > p{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 15px;
}

.qixiangdeng > p span,.qixiangdeng > p a{
	margin-right: 10px;
}

.qixiangdeng > p span.qixiang,.qixiangdeng > p a.qixiang{
	color: #f1ce4f;
}

.qixiangdeng > p span.shuiwen,.qixiangdeng > p a.shuiwen{
	color: #ff6c60;
}

.qixiangdeng > p span.hailiu,.qixiangdeng > p a.hailiu{
	color: #f88920;
}

.statistics .feature a.to-choose{
	border-style: dashed;
}

.statistics .feature .feature-box div a.active{
	border:2px solid #4fb5db;
	padding: 5px 0;
}

.bo > p,.bo > p a{
	color: #8175c7
}

.wind > p,.wind > p a{
	color: #4fb5db;
}